#plantillas{
    display:none;
}

.textarea_con_error{
    background-color:red;
}

.panel_filtro .ui-panel-inner{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.panel_filtro .titulo_panel{
    position: absolute;
    text-align: center;
    top: 14px;
    left: 12px;
    right: 12px;
}

#panel_filtro_entrada #div_filtro_entrada{
    position: absolute;
    top:36px;
    bottom:50px;
    left:12px;
    right:12px;
    height:initial;
    width:initial;
}

#panel_filtro_entrada #contenedor_btn_actualizar_filtro_entrada{
    position: absolute;
    bottom:0px;
    left:12px;
    right:12px;
}

#panel_filtro_salida #div_filtro_salida{
    position: absolute;
    top:36px;
    bottom:12px;
    left:12px;
    right:12px;
    height:initial;
    width:initial;
}

/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
}

/*make the page element 100% height*/
#pantalla_consola {
    height : 100%;
}

/*specify a height for the header so we can line-up the elements, the default is 40px*/
#pantalla_consola .ui-header {
    height : 40px;
}

/*set the content to be full-width and height except it doesn't overlap the header or footer*/
#pantalla_consola .ui-content {
    position : absolute;
    top      : 40px;
    right    : 0;
    bottom   : 0px;
    left     : 0;
}

/*absolutely position the footer to the bottom of the page*/
#pantalla_consola .ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 30px;
}

.jsoneditor .menu{
    display:none;
}

.jsoneditor{
    border-radius: 10px;
    border-color:black !important;
    background-color:#FFFFAB;
}

#pantalla_consola #div_mensajes_entrantes {
    position : absolute;
    top : 10px;
    bottom   : 170px;
    left     : 10px;
    right    : 10px;
}

#pantalla_consola #div_mensaje_para_enviar {
    position : absolute;
    right    : 112px;
    bottom: 10px;
    left     : 10px;
    height: 150px;
}

#pantalla_consola #contenedor_btn_enviar_mensaje {
    position : absolute;
    bottom   : 28px;
    right    : 5px;
    height: 100px;
}
